<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignInControl</servlet-name>
        <servlet-class>Servlets.SignInControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorJSP</servlet-name>
        <jsp-file>/JSP/ErrorJSP.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SuperAdmin</servlet-name>
        <jsp-file>/JSP/SuperAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <jsp-file>/JSP/SignIn.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>superAdmin</servlet-name>
        <servlet-class>Servlets.superAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInControl</servlet-name>
        <url-pattern>/SignInControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorJSP</servlet-name>
        <url-pattern>/ErrorJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperAdmin</servlet-name>
        <url-pattern>/SuperAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>superAdmin</servlet-name>
        <url-pattern>/superAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
